html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
 
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  margin-bottom: 2rem;
  padding:0 0.5rem;
  
}
.section_title {
  font-size: 1.2rem;
  text-align: center;
  color: var(--txt-color);
  margin-bottom: 1rem;
}