.login_form {
    min-width: 300px;
    max-width: 500px;
}

.login_form>* {
    margin: 1rem;
}

.login_form_header {
    width: 100%;

}


.login_form_header > img{
    width: 40%;
    height: auto;
    margin-left: -3px;
    user-select: none;

}
.login_form_body>* {
    margin-bottom: 1.5rem;
}

.absolute_center {
    padding: 0;
    height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.login_form_footer{
    display: flex;
    justify-content: space-between;
}
.login_form_footer a{
    color: var(--main-color);
}
