@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --main-scoll-bg: rgba(70, 70, 70, 0.5);
    --second-scoll-bg: rgba(10, 10, 10, 0.6);
    --main-bg: #fff;
    --second-bg: #fafafa;
    --txt-color: #292929;
    --txt-white: #fff;
    --main-color: #006B66;
    --second-color: #00756B;
    --background-hover-color: rgba(0, 130, 116, 0.3);
    --txt-hover-color: var(--txt-color);
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --box-shadow-bold: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    --main-bg-light: #ffffff;
    --link-color: rgb(13, 92, 182);
    
    /* --label-focus-color: var(--main-color); */

    --border-color: #BDBDBD;
    --border-width: 0.5px;
    --border-hover-color: var(--second-color);
    --border-focus-color: var(--main-color);
    --border-normal: var(--border-width) solid var(--border-color);
    --border-hover: var(--border-width) solid var(--border-hover-color);
    --border-focus: 2px solid var(--border-focus-color);

    --second-bg-light: #fafafb;
    --selected-bg: #f1f1f1;
    --txt-color-light: #455560;
    
    --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    --main-bg-dark: #2d2d2d;
    --second-bg-dark: #202020;
    --txt-color-dark: #bbbbbb;
    --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

    --main-color-blue: #349eff;
    --second-color-blue: #62b4ff;

    --main-color-red: #fb0b12;
    --second-color-red: #ff4a6b;
    --error-message-color:var(--second-color-red);

    --main-color-cyan: #10d4d2;
    --second-color-cyan: #2ae9e6;

    --main-color-green: #019707;
    --second-color-green: #4caf50;

    --main-color-orange: #F18904;
    --second-color-orange: #F49F05;

    --sidebar-width: 300px;
    --border-radius: 15px;
    --border-radius-second: 5px;
    --topnav-height: 110px;
    --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --text-menu-color: #696969;
    --text-menu-hover-color: #000;
    --navbar-height: 60px;
    --navbar-shrink-height: 50px;
    --z-index-highest: 5;
    --z-index-high-second: 4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.7px;
}

a {
    text-decoration: none;
    color: unset;
}

/* a:hover {
    color: var(--main-color);
} */

button {
    cursor: pointer;
    border: 0;
    outline: 0;
    color: var(--txt-color);
}

ul {
    list-style-type: none;
}

input {
    border: 2px solid transparent;
    outline: 0;
}

label {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

input:focus {
    border: 2px solid var(--main-color);
}
.page-center {
    max-width: 1280px;
    margin: 0 auto;
    
}
.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    /* text-transform: capitalize; */
}



.full-height {
    height: 100%;
}

.card.full-height {
    height: calc(100% - 30px);
}

.card__header {
    text-transform: capitalize;
}


.card__footer {
    text-align: center;
    text-transform: capitalize;
}

.light-background {
    background-color: var(--main-bg-light);
    color: #000;
}

.dark-background {
    background-color: var(--main-bg-dark);
    color: #fff;
}

.blue-color {
    background-color: var(--main-color-blue);
    color: #fff;
}
.blue-color:hover {
    background-color: var(--second-color-blue);
    color: #fff;
}
.red-color {
    background-color: var(--main-color-red);
    color: #fff;
}

.cyan-color {
    background-color: var(--main-color-cyan);
    color: #fff;
}
.cyan-color:hover {
    background-color: var(--second-color-cyan);
    color: #fff;
}
.green-color {
    background-color: var(--main-color-green);
    color: #fff;
}

.orange-color {
    background-color: var(--main-color-orange);
    color: #fff;
}
.orange-color:hover {
    background-color: var(--second-color-orange);
    color: #fff;
}

.main-color {
    background-color: var(--main-color);
    color: #fff;

}
.main-color:hover {
    background-color: var(--second-color);
    color: #fff;
    
}
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--main-scoll-bg);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--second-scoll-bg);
    
}

