a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: var(--main-color);
}

button {
    cursor: pointer;
    border: 0;
    outline: 0;
    color: var(--txt-color);
}

ul {
    list-style-type: none;
}

input {
    border: 2px solid transparent;
    outline: 0;
}

label {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

input:focus {
    border: 2px solid var(--main-color);
}
.page-center {
    max-width: 1280px;
    margin: 0 auto;
    
}
.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    /* text-transform: capitalize; */
}

.card {
    width:100%;
    
    padding: 30px;
    margin-bottom: 30px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.full-height {
    height: 100%;
}
.full-width {
    width: 100%;

}

.overflow-scroll {
    overflow: scroll;
}
.card.full-height {
    height: calc(100% - 30px);
}

.card__header {
    text-transform: capitalize;
}

.card > div ~ div {
    margin-top: 30px;
}

.card__footer {
    text-align: center;
    text-transform: capitalize;
}

.light-background {
    background-color: var(--main-bg-light);
    color: #000;
}

.dark-background {
    background-color: var(--main-bg-dark);
    color: #fff;
}

.blue-color {
    background-color: var(--main-color-blue);
    color: #fff;
}

.red-color {
    background-color: var(--main-color-red);
    color: #fff;
}

.cyan-color {
    background-color: var(--main-color-cyan);
    color: #fff;
}

.green-color {
    background-color: var(--main-color-green);
    color: #fff;
}

.orange-color {
    background-color: var(--main-color-orange);
    color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
}



.error-message {
    color: var(--second-color-red);
}

.error-border {
    border:1px solid var(--error-message-color);
}

.center-content {
    margin-left: auto;
    margin-right: auto;
    
}

.loader-full-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    /* margin: 0 auto; */
}

.margin-bottom-1rem {
    margin-bottom: 1rem;
}
.center-content-wraper {
    display: flex;
    align-items: center;
    justify-content: left;
}

.flex-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.dot-success {
    background-color: var(--main-color);

}

.dot-warning {
    background-color: var(--main-color-orange);
}

.text-align-right {
    text-align: right;
}

.section {
    margin-bottom: 1rem;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}