.policy_card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--main-bg);
    max-width: 500px;
    transition: all 0.5s ease-out;
    position: relative;
    overflow: hidden;
}

.policy_card >i.icon {
    font-size: 1.5rem;
    font-weight: 1.5;
    line-height: 100%;
    color: var(--main-color);
    padding: 1rem;
}

.content {
    padding: 1rem;

}

.name {
    font-weight: 600;
}
.description {
    font-size: 0.9rem;
    font-style: italic;
    padding-top: .5rem;
}

.policy_card::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--background-hover-color);
    position: absolute;
    transform: scale(0);
    left: -50%;
    top: -25%;    
    transition: transform .5s ease-out;
    z-index: 1;
    border-radius: 50%;
}

.policy_card:hover::after {
    transform: scale(3);
}

