.modal_wraper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: var(--z-index-highest);

}

.modal {
    --width: 500px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: var(--main-bg);
    animation-name: ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;  
    /* overflow: scroll; */
    max-height: 100%;
    width: var(--width);
    border-radius: 8px;

}
.medium {
    --width: 50%;
}
.large {
    --width: 80%;
}

.small {
    --width: 30%;
}

.header {
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: 1.2rem;
    min-height: 2rem;
    border-bottom: 1px solid var(--border-color);
    padding: 1rem;
    color: var(--txt-color);

}
.model_header:hover {
    background-color: red;
}

.body {
    min-height: 2rem;
    max-height: 80vh;
    padding: 1rem;
    overflow-y: auto;
}


.footer {
    border-top: 1px solid var(--border-color);
    padding: 1rem;
}

@keyframes ani {
    from {
        margin-top: -100%;
    }
    to {
        margin-top: 0;
    }

}

@media screen and (max-width: 1279px) {
    .large {
        --width: 100%;
    }
    .medium {
        --width: 80%;
    }
  
    .small {
        --width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .large {
        --width: 100%;
    }
    .medium {
        --width: 95%;
    }
  
    .small {
        --width: 80%;
    }

}

